*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    gap: 2rem;
}

body {
    min-height: 100vh;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;

}

a {
    text-decoration: none;
}

button {
    padding: 4px 8px;
}

.top-stuff > button {
    margin-top: 8px;
}

body,
.content,
.middle-item,
.footer {
    display: flex;
    flex-direction: column;
}

.top,
.middle-top,
.middle-stuff,
.bottom-container {
    display: flex;
    justify-content: space-between;
}

.bottom-container > button {
    align-self: center;
}

.middle-top {
    flex-direction: column;
    align-items: center;
}

.top-stuff {
    max-width: 40vw;
}

.header {
    width: 100vw;
    padding: 1rem 20vw;
    display: flex;
    justify-content: space-between;
}

.footer {
    width: 100vw;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.content {
    flex: auto;
    padding-left: 20vw;
    padding-right: 20vw;
    justify-content: space-between;
}

.header,
.footer,
.top {
    background-color: #1F2937;
}

.header,
.top h1,
.footer {
    color: #F9FAF8;
}

.top p,
.header a {
    color: #E5E7Eb;
    text-decoration: none;
} 