* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.bigtext {
    color: #F9FAF8;
}

.smalltext {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.darkfont {
    color: #1F2937;
}

.darkbg {
    background-color: #1F2937;
}

header > h2 {
    margin-right: auto;
    font-size: 24px;
}

header,
ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

header,
main > div {
    padding: 0 20vw;
    display: flex;
}

header,
footer {
    height: 5vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}